server:
  port: 8080
  servlet:
    context-path:
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/goexplore
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
