spring:
  application:
    name: FamilyHealth

  datasource:
    url: jdbc:mysql://localhost:3306/familyhealth
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
